 <div id="home" class="container">
 	<div class="row">
 		<div class="col-xs-12">
 			<div class="top_banner">
 				<%= image_tag 'banners/for_the_99.png', alt: 'Bernie Sanders for the 99%' %>			
 			</div>
 		</div><!-- col -->
 	</div><!-- row -->
 	
 	<div class="row">
 		<div class="col-sm-6">
 			<h2>Find us elsewhere on the Internet</h2>
 			<ul class="social_networking_list">
 				<li>
 					<%= link_to 'https://www.facebook.com/ClallamFeelsTheBern', target: '_blank' do %>
 						<%= fa_icon 'facebook' %> Facebook
 					<% end %>
 				</li>
 			</ul>
 		</div><!-- col -->
 		
 		<div class="col-sm-6">
 			<div class="mail_chimp_form">
 				<%= render :partial => 'parts/mail_chimp_embedded_form' %>	
 			</div>		
 		</div><!-- col -->
 	</div><!-- row -->
 	
 	<div class="row">
 		<div class="col-sm-12">
 			<div class="footer"></div>
 		</div>
 	</div>
 </div><!-- cont -->
